DATABASE_URL="mysql://app_user:app_pass@127.0.0.1:3306/app_db"
SHADOW_DATABASE_URL="mysql://app_user:app_pass@127.0.0.1:3306/app_db_shadow"
JWT_SECRET="your_jwt_secret_key"

DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USER=app_user
DATABASE_PASSWORD=app_pass
DATABASE_NAME=app_db
DATABASE_SHADOW_NAME=app_db_shadow