@import "tailwindcss";

@font-face {
  font-family: 'Saitamaar';
  src:
    url('https://da1eth.github.io/AA/HeadKasen.woff2') format('woff2'),
    url('https://da1eth.github.io/AA/HeadKasen.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Saitamaar';
  src:
    url('/font/NanumGothicCoding.woff2') format('woff2'),
    url('/font/NanumGothicCoding.woff') format('woff'),
    url('/font/NanumGothicCoding.ttf') format('ttf');
  font-display: swap;
  unicode-range: U+AC00-D7A3, U+3130-318F;
}

@font-face {
  font-family: 'SaitamaarOrigin';
  src:
    url('/font/Saitamaar.woff2') format('woff2'),
    url('/font/Saitamaar.woff') format('woff'),
    url('/font/Saitamaar.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'SaitamaarOrigin';
  src:
    url('/font/NanumGothicCoding.woff2') format('woff2'),
    url('/font/NanumGothicCoding.woff') format('woff'),
    url('/font/NanumGothicCoding.ttf') format('ttf');
  font-display: swap;
  unicode-range: U+AC00-D7A3, U+3130-318F;
}

@font-face {
  font-family: 'Black Han Sans';
  src:
    url('/font/BlackHanSans-Regular.woff2') format('woff2'),
    url('/font/BlackHanSans-Regular.woff') format('woff'),
    url('/font/BlackHanSans-Regular.ttf') format('ttf');
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.content .vib-1 {
  animation: vib-anim-1 0.8s infinite alternate;
  display: inline-block;
}

.content .beat-1 {
  animation: beat-anim-1 0.8s infinite alternate;
  display: inline-block;
}

.content .sub {
  vertical-align: bottom;
  font-size: 50%;
  line-height: inherit;
}

.content .youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  overflow: hidden;
}

.content .youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content .youtube-wrap {
  width: 100%;
  max-width: 600px;
}

.content .dice {
  font-weight: 700;
  color: red;
}

.content .dice:hover {
  color: blue;
}

.content b {
  font-weight: 700;
}

.content b:hover {
  color: blue;
}

.content .inner-line {
  line-height: 1.5em !important;
}

.content .aa {
  background-color: #fff;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: 0;
  line-height: 1.1em;
}

.content {
  display: block;
  font-family: Saitamaar, sans-serif !important;
  word-break: break-all;
  line-height: normal !important;
  margin-top: 2px;
  letter-spacing: normal !important;
}

.content {
  margin-left: 10px;
}

.content.aa {
  overflow-y: hidden;
}

.content.aa {
  background-color: #fff;
  white-space: nowrap;
  overflow-x: auto;
  line-height: 1.125em !important;
  font-family: Saitamaar, sans-serif !important;
}

.content.novel {
  background-color: #e3efee;
  font-family: 돋음, Dotum, Baekmuk Dotum, Undotum, Apple Gothic, Latin font, sans-serif !important;
  line-height: 1.8em !important;
  font-size: 1.1em;
}

.content.line {
  line-height: 1.5em !important;
}

.contentInput {
  display: block;
  font-family: Saitamaar, sans-serif !important;
  word-break: break-all;
  line-height: normal !important;
  margin-top: 2px;
  letter-spacing: normal !important;
}

.contentInput.content {
  margin-left: 10px;
}

.contentInput.content.aa {
  margin-left: 0;
  overflow-y: hidden;
}

.contentInput.aa {
  background-color: #fff;
  white-space: nowrap;
  overflow-x: auto;
  line-height: 1.125em !important;
  font-family: Saitamaar, sans-serif !important;
}

.contentInput.novel {
  background-color: #e3efee;
  font-family: 돋음, Dotum, Baekmuk Dotum, Undotum, Apple Gothic, Latin font, sans-serif !important;
  line-height: 1.8em !important;
  font-size: 1.1em;
}

.contentInput.line {
  line-height: 1.5em !important;
}

@keyframes vib-anim-1 {
  0% {
    transform: skewX(-15deg);
  }

  5% {
    transform: skewX(15deg);
  }

  10% {
    transform: skewX(-15deg);
  }

  15% {
    transform: skewX(15deg);
  }

  20% {
    transform: skewX(0);
  }

  to {
    transform: skewX(0);
  }
}

.beat-1 {
  animation: beat-anim-1 0.8s infinite alternate;
  display: inline-block;
}

@keyframes beat-anim-1 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.content a {
  color: #3b82f6;
  text-decoration: underline;
}